SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@ninetoninehub.com
SMTP_PASS=[info mailbox password/app password]
CONTACT_RECIPIENT_EMAIL=info@ninetoninehub.com,sales@ninetoninehub.com,Gm@ninetoninehub.com,rias@ninetoninehub.com